<div class="clear"></div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg' %>
      <div class="carousel-caption">
        Find the best DC restaurants
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider2.jpg' %>
      <div class="carousel-caption">
        DC's best chefs!
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 offset-xs-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

<% if place.comments.present? %>
<hr />
<p class="text-center"><i><b>Latest comment:</b></i></p>
  <div class="col-xs-12 col-sm-6">
    <blockquote>
      <% if place.comments.last.humanized_rating.present? %>
        <b><%= place.comments.last.humanized_rating %></b> -
      <% end %>
        <%= place.comments.last.message %>
      <small><%= place.comments.last.user.email %></small>
    </blockquote>
  </div>
<% end %>

<div class="clear"></div>

<% if place.photos.present? %>
<p class="text-center"><i><b>Recent photos:</b></i></p>
<div class="col-xs-12">
  <%= image_tag place.photos.first.picture, class: "photo-width" %>
<% end %>
</div>

  </div>
<% end %>

<%= will_paginate @places %>